*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    color: #333;
}

header
{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1px;
    background-color: white;
    color: #f59314;
    text-align: center;
}

.tirarRoxo
{
    text-decoration: none;
}

.tirarRoxo:visited
{
    color: #f59314;
}

.tirarRoxo:hover
{
    opacity: 0.85;
}

#titulo
{
    margin: 1px;
    border-top: 0;
    cursor: pointer;
    opacity: 0.9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    margin-bottom: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#subtitulo
{
    color: #000000;
}

.cartoes
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0;
}

.cartao
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 280px;
    padding: 20px;
    cursor: pointer;
    transition: 2000ms;
    color: black;
}

.cartao:hover
{
    transform: scale(1.05);
}

.cartao .extra
{
    display: none;
    margin-top: 10px;
    color: #555;
}

.galeria
{
    text-align: center;
    margin: 50px 0;
    padding: 1em;
    margin: 10;
}

.galeria .imagens
{
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.galeria img
{
    width: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.galeria img:hover
{
    transform: scale(1.05);
    opacity: 0.9;
}

.curiosidade
{
    text-align: center;
    margin: 50px 0;
}

.curiosidade button 
{
    background-color: #000000;
    color: #f59314;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.curiosidade button:hover 
{
    transform: scale(1.02)
}

#texto-curiosidade
{
    color: #000000;
    margin-top: 15px;
    font-style: italic;
    text-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

footer {
    text-align: center;
    color: #f59314;
    padding: 10px;
    border-radius: 5px;
}